

<form id="form-validate" novalidate="novalidate" action="{% if object.isNew %}{{ path('RecruitmentBundle_create') }}{% else %}{{ url('RecruitmentBundle_update', {'id' : object.id }) }}{% endif %}"  method="post" {{ form_enctype(form) }}>

      {% if not object.isNew %}
      <input type="hidden" name="sf_method" value="PUT" />
    {% endif %}

    <!--  global errors container  -->
    <span id="global-errors" class="hidden error">example</span>    

    <table id="manipulate-table">

        <tbody>

           
            <tr>
                <th><label class="required">{% trans %}Formularz{% endtrans %}:</label></th>
                <td>{% render "FormBundle:Default:get" with {'formID':  object.formId} %}</td>
                <td>&nbsp;</td>
            </tr>             
            
            <tr>
                <th>{{ form_label(form.is_active) }}:</th>
                <td>{{ form_widget(form.is_active) }}</td>
                <td>{{ form_errors(form.is_active) }}</td>
            </tr>               
            
            <tr>
                <th>{{ form_label(form.name) }}:</th>
                <td>{{ form_widget(form.name) }}</td>
                <td>{{ form_errors(form.name) }}</td>
            </tr>  

            <tr>
                <th>{{ form_label(form.alias_name) }}:</th>
                <td>{{ form_widget(form.alias_name) }}</td>
                <td>{{ form_errors(form.alias_name) }}</td>
            </tr>    

            <tr>
                <th>{{ form_label(form.place) }}:</th>
                <td>{{ form_widget(form.place) }}</td>
                <td>{{ form_errors(form.place) }}</td>
            </tr>               

            <tr>
                <th>{{ form_label(form.description) }}:</th>
                <td>{{ form_widget(form.description) }}</td>
                <td>{{ form_errors(form.description) }}</td>
            </tr>              
            
            <tr>

                <td colspan="3">&nbsp;</td>

            </tr>


        </tbody>

        <tfoot>
            <tr>

                <td>&nbsp;</td>

                <td colspan="2">

                    <a data-width="200" data-height="100" class="button-save ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false">
                        <span class="ui-button-icon-primary ui-icon {% if not object.isNew %}ui-icon-pencil{% else %}ui-icon-circle-plus{% endif %}"></span>
                        <span class="ui-button-text">
                            {% if not object.isNew %}
                            {% trans %}Zapisz{% endtrans %}
                            {% else %}
                            {% trans %}Dodaj{% endtrans %}
                            {% endif %}
                        </span>
                    </a> 

                    <a class="button-close ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false">
                        <span class="ui-button-icon-primary ui-icon ui-icon-close"></span>
                        <span class="ui-button-text">
                            {% trans %}Zamknij{% endtrans %}
                        </span>
                    </a>                     

                </td>
            </tr>
        </tfoot>      

    </table>


    {{ form_widget(form._token) }}

</form>

<script src="{{ asset('/js/modal.js') }}" type="text/javascript"></script>
