

<form id="form-validate" novalidate="novalidate" action="{% if object.isNew %}{{ path('UserBundle_role_create') }}{% else %}{{ url('UserBundle_role_update', {'id' : object.id }) }}{% endif %}"  method="post" {{ form_enctype(form) }}>
      
    {% if not object.isNew %}
        <input type="hidden" name="sf_method" value="PUT" />
    {% endif %}
    
    <!--  global errors container  -->
    <span id="global-errors" class="hidden error">example</span>  
    
    <table id="manipulate-table">

        <tbody>

            <tr>
                <th>{{ form_label(form.is_active) }}:</th>
                <td>{{ form_widget(form.is_active) }}</td>
                <td>{{ form_errors(form.is_active) }}</td>
            </tr>              
            
            <tr>
                <th>{{ form_label(form.type) }}:</th>
                <td>{{ form_widget(form.type) }}</td>
                <td>{{ form_errors(form.type) }}</td>
            </tr>               
            
            <tr>
                <th>{{ form_label(form.name) }}:</th>
                <td>
                    {% if object.isNew %}
                        {{ form_widget(form.name) }}
                    {% else %}
                        {{ form_widget(form.name, { 'attr': {'readonly': 'readonly'} }) }}
                    {% endif %}
                </td>
                <td>{{ form_errors(form.name) }}</td>
            </tr>

            <tr>
                <th>{{ form_label(form.description) }}:</th>
                <td>{{ form_widget(form.description) }}</td>
                <td>{{ form_errors(form.description) }}</td>
            </tr>           

        </tbody>

        <tfoot>
            <tr>

                <td>&nbsp;</td>

                <td colspan="2">

                    <a data-width="200" data-height="100" class="button-save ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false">
                        <span class="ui-button-icon-primary ui-icon {% if not object.isNew %}ui-icon-pencil{% else %}ui-icon-circle-plus{% endif %}"></span>
                        <span class="ui-button-text">
                            {% if not object.isNew %}
                                {% trans %}Zapisz{% endtrans %}
                            {% else %}
                                {% trans %}Dodaj{% endtrans %}
                            {% endif %}
                        </span>
                    </a> 

                    <a class="button-close ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false">
                        <span class="ui-button-icon-primary ui-icon ui-icon-close"></span>
                        <span class="ui-button-text">
                            {% trans %}Zamknij{% endtrans %}
                        </span>
                    </a>                     

                </td>
            </tr>
        </tfoot>

    </table>

    {{ form_rest(form) }}

</form>

<script src="{{ asset('/js/modal.js') }}" type="text/javascript"></script>



