
<form id="form-validate" novalidate="novalidate" action="{% if object.isNew %}{{ path('MenuBundle_create') }}{% else %}{{ url('MenuBundle_update', {'id' : object.id }) }}{% endif %}"  method="post" {{ form_enctype(form) }}>

      {% if not object.isNew %}
      <input type="hidden" name="sf_method" value="PUT" />
    {% endif %}

    <!--  global errors container  -->
    <span id="global-errors" class="hidden error">example</span>    

    <table id="manipulate-table">

        <tbody>

            <tr>
                <th>{{ form_label(form.is_active) }}:</th>
                <td>{{ form_widget(form.is_active) }}</td>
                <td>{{ form_errors(form.is_active) }}</td>
            </tr>

            <tr>
                <th>{{ form_label(form.url) }}:</th>
                <td>{{ form_widget(form.url) }} (puste pole oznacza domyślny adres)</td>
                <td>{{ form_errors(form.url) }}</td>
            </tr>            

            <tr>
                <th>&nbsp</th>
                <td colspan="2">&nbsp;</td>
            </tr>            

            {% for fieldI18 in form.menuI18ns %}

            <tr>
                <th style="font-size: 15px;">{% trans %}Językowość{% endtrans %} ({{ fieldI18.vars.value.locale }}):</th>
                <td>{{ form_widget(fieldI18.locale) }}</td>
                <td>{{ form_errors(fieldI18.locale) }}</td>
            </tr>

            <tr>
                <th>{{ form_label(fieldI18.name) }}:</th>
                <td>{{ form_widget(fieldI18.name) }}</td>
                <td>{{ form_errors(fieldI18.name) }}</td>
            </tr>    

            <tr>
                <th>{{ form_label(fieldI18.content) }}:</th>
                <td>{{ form_widget(fieldI18.content) }}</td>
                <td>{{ form_errors(fieldI18.content) }}</td>
            </tr>              

            {% endfor %}    

            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>

            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>            

        </tbody>

        <tfoot>
            <tr>

                <td>&nbsp;</td>

                <td colspan="2">

                    <a data-width="200" data-height="100" class="button-save ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false">
                        <span class="ui-button-icon-primary ui-icon {% if not object.isNew %}ui-icon-pencil{% else %}ui-icon-circle-plus{% endif %}"></span>
                        <span class="ui-button-text">
                            {% if not object.isNew %}
                            {% trans %}Zapisz{% endtrans %}
                            {% else %}
                            {% trans %}Dodaj{% endtrans %}
                            {% endif %}
                        </span>
                    </a> 

                    <a class="button-close ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false">
                        <span class="ui-button-icon-primary ui-icon ui-icon-close"></span>
                        <span class="ui-button-text">
                            {% trans %}Zamknij{% endtrans %}
                        </span>
                    </a>                     

                </td>
            </tr>

            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>               

        </tfoot>

    </table>


    {{ form_widget(form._token) }}

</form>

<script src="{{ asset('/js/modal.js') }}" type="text/javascript"></script>
