<tr>
    
    <th>
        <div style="float: left;">
            {{ object.question.name }}: {% if object.isRequired %}*{% endif %}
        </div>
        
        {% if object.question.label %}
        
        <div style="float: right;">
            <span title="{{ object.question.label }}" class="middle title ui-icon ui-icon-info left"></span>
        </div>
        
        {% endif %}
        
    </th>
    <td>

    <textarea id="data-{{ object.question.id }}" maxlength="{{ object.question.limit }}" name="data[{{ object.question.id }}]" ></textarea>    
    
    {% if object.question.limit %}
        <div>{% trans %}Pozostało{% endtrans %} <span id="counter-data-{{ object.question.id }}">{{ object.question.limit }}</span> {% trans %}znaków{% endtrans %}</div>
    {% endif %}    
    
    <div id="error-data-{{ object.question.id }}">&nbsp;</div>
    <input type="hidden" name="hidden-data[{{ object.question.id }}]" value="{{ object.question.data }}" />
    
    </td>

    
</tr>